extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/edit/' + article._id)
    #form-group
      label Name:
      input.form-control(name='name', type='text', value=article.name)
    #form-group
      label Mail:
      input.form-control(name='mail', type='text', value=article.mail)
    br
    input.btn.btn-primary(type='submit',value='Submit')
