//- extends layout

block content
  meta(http-equiv='Refresh' content='5')
  h1 #{title}
  br
  //- ul.list-group
  ul
    if articles.length
      each article, i in articles
        li.list-group-item 
          a(href="/articles/"+article._id)= article.name
    else
       br
       h3 No victims yet
       br
script(src='/js/main.js')  

